body{
	margin: 0;
	font-family: system-ui;
}
.paraliax
{
	background-image: url(bgveg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: max-content;
	background-size: 100% 100%;
	color:white;
}
.page-tittle
{
	background: rgba(0,0,0,0.5);
	text-align: center;
	color: white;
	padding: 50px;
	font-variant: small-caps;
	font-size: 100px
	font-family:fantasy;
	letter-spacing: 20px;

}
#sticky
{
	position: fixed;
	top: 0;
	width: 100%;
}
.menu
{
	background:#00011d ;
	text-align: center;
}
.menu-ul
{
	margin: 0;
	padding: 0;
	display: inline;

}
.menu-ul li
{
font-size: 20px;
list-style: none;
display: inline-block;
padding: 15px 15px 15px 15px;
}
.a-menu
{
	text-decoration: none;
	color: white;
}
.menu-ul li:hover
{
	background: #0000002d;
	transform: scale(1.1);
}
.search-box
{
	border:1px solid white;
	border-radius: 50px;
	background: white;
	width: max-content;
	display: inline-block; 
}
.search-box:hover
{
	box-shadow:0 0 10px 2px #5b8c5a;
	border: 1px solid #5b8c5a;
}
.search-input
{
	width: 250px;
	border: none;
	font-size: 16px;
	outline: none;
	background: transparent;
	margin: 15px 0 0 10px;
}
button
{
	background:transparent;
	border: none;
	outline:none;
}
.but
{
	font-size: 20px;
	margin: 0 10px 0  0  ;
}
.container
{
	margin:50px 50px 50px 5%;
	width:90%;
	text-align: center;
}
.categories
{
	margin: max-content;
	margin: 25px;
	border:1px solid #184d47;
	border-radius: 0 0 50px 50px;
	display: inline-block;

}
.categories:hover
{
	box-shadow: 0 0 10px 3px #184d47;
}
.items-image
{
	height: 200px;
	width: 200px;
	border-radius: 0 0 50px 50px;
	padding: 10px;
	margin-left: 10px;
}